<!-- The trending tags list -->

{% assign MAX = 10 %}

{% assign size_list = '' | split: '' %}
{% assign tag_list = '' | split: '' %}

{% for tag in site.tags %}
  {% assign size = tag | last | size %}
  {% assign size_list = size_list | push: size %}

  {% assign tag_str = tag | first | append: '::' | append: size %}
  {% assign tag_list = tag_list | push: tag_str %}
{% endfor %}

{% assign size_list = size_list | sort | reverse %}

{% assign tag_list = tag_list | sort_natural %}

{% assign trending_tags = '' | split: '' %}

{% for size in size_list limit: MAX %}
  {% for tag_str in tag_list %}
    {% assign tag = tag_str | split: '::' %}
    {% assign tag_name = tag | first %}
    {% assign tag_size = tag | last | plus: 0 %}
    {% if tag_size == size %}
      {% unless trending_tags contains tag_name %}
        {% assign trending_tags = trending_tags | push: tag_name %}
        {% break %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if trending_tags.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">Nadcházející koncerty</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
        <li class="text-truncate lh-lg"><a href="https://brutalassault.cz/cs" target="_blank">05/08/2026 - Brutal Assult 2026</a></li>
        <li class="text-truncate lh-lg"><a href="https://rockcafe.cz/en/program/anette-olzon-swe/" target="_blank">09/08/2026 - Anette Olzen</a></li>
        <li class="text-truncate lh-lg"><a href="https://www.keltskanoc.cz/" target="_blank">14/08/2026 - Keltská noc 2026</a></li>
        <li class="text-truncate lh-lg"><a href="https://rfpconcerts.cz/en/concert/spiritbox/" target="_blank">25/09/2026 - Spiritbox, Jinjer, Dying Wish</a></li>
        <li class="text-truncate lh-lg"><a href="https://goout.net/cs/xiii-stoleti+special-guest-the-march-violets/szaydhy/" target="_blank">27/10/2026 - XII. Století, The March Violets </a></li>
        <li class="text-truncate lh-lg"><a href="https://goout.net/en/korn-euro-tour-2026%2Bspecial-guest-architects-and-pixel-grip/szckohy/" target="_blank">06/11/2026 - Korn, Architects, Pixel Grip</a></li>
        <li class="text-truncate lh-lg"><a href="https://kabat.cz/kabat-turne-2026/" target="_blank">11/11/2026 - Kabát</a></li>
        <li class="text-truncate lh-lg"><a href="https://www.mastersofrock.cz/cs/koncerty/2026-avatar-praha" target="_blank">06/12/2026 - Avatar, Neckbreaker</a></li>
        <li class="text-truncate lh-lg"><a href="https://rfpconcerts.cz/concert/spite-emmure/" target="_blank">08/02/2027 - Spite, Emmure, Mauled, Distant</a></li>
        <li class="text-truncate lh-lg"><a href="https://obscure.cz/cs/tickets/detail/id/1033" target="_blank">16/02/2027 - Whitechapel, Sylosis, 200 Stab Wounds, Tribal Gaze</a></li>
        <li class="text-truncate lh-lg"><a href="https://www.ticketportal.cz/event/Debustrol-40-let" target="_blank">17/02/2027 - Debustrol</a></li>
        <!--<li class="text-truncate lh-lg"><a href="INSERTHERE" target="_blank">INSERTHERE</a></li>-->
      </ul>
  </section>
{% endif %}
